__pycache__/
uploads/
*.pyc
.env
instance/
*.db

.antigravitycli/
.tmp_doc_review/

static/charts/
static/reports/

static/latest_chart.png
static/spc_report.pdf
static/capability_chart.png
static/capability_report.pdf